* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #00ABF8;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, select, button {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color:#00091F;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0199DB;
}

.resultados {
    margin-top: 20px;
}

#resumo {
    list-style-type: none;
}

#resumo li {
    margin-bottom: 10px;
}

#totalGeral {
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

